:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: #000000;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  background-color: var(--white);
  font-family: "roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo.link {
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.logo {
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.nav-menu .page,
.contacts-menu .contact {
  text-decoration: none;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.contacts-menu {
  margin-left: auto;
  gap: 40px;
}
.nav-menu {
  margin-left: 93px;
  gap: 40px;
}

.nav-menu .item:not(:last-child) .contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.contact-menu .contact {
  text-decoration: none;
  color: var(--slate);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.bg-team {
  background-color: var(--cloud);
}

.button.primary {
  color: var(--white);
  background: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-top-padding {
  padding-top: 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 30px;
}

.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team .name,
.team .position {
  text-align: center;
  line-height: 1.19;
}

.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  padding: 30px;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

.substrate {
  background-color: var(--white);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.studio-footer {
  color: var(--cloud);
}

.page-footer.bg-footer {
  background: var(--navyblue);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.footer {
  margin-bottom: 20px;
}

.footer-description {
  color: var(--cloud);
  padding-top: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Portfolio CSS*/

.button {
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button.filter {
  background: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
  padding: 12px 24px;
}

.filters .space + .space {
  margin-left: 8px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin: 4px;
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}
